.DS_Store
_Hello/
Solar2D/backup/
_Solar2D_kwk/
*.bak
*.json
*.library
Solar2D/App/mybook
Solar2D/App/book1
Solar2D/App/bookFree
BookServer/compress_assets_bookFree.command
BookServer/compress_assets_bookOne.command
BookServer/copyright.txt
Photoshop/DeskTopIcon
errors.txt
Solar2D/editor/template/assets
Solar2D/models
backup_lua.command
copy_lua.command
undo_lua.command
Solar2D/server/tests/outputRedirection.json
Solar2D/server/tests/outputRedirection_en.json
Solar2D/server/tests/outputRedirection_jp.json
tmp.log
io-checkpoint.ipynb
.env
release.http
Solar2D/installer copy 1
UXP/kwik-exporter/com.kwiksher.kwik5.exporter-ps_PS.ccx
CoronaSampleCode/
CoronaSampleCode
Photoshop/kwikTheCat
Solar2D/App/kwikTheCat
plugin
